/*
My starting point was
https://github.com/markdowncss/modest/blob/master/css/modest.css
*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);
@import url(http://fonts.googleapis.com/css?family=Arimo:700,700italic);

html {
  font-size: 18px;
  max-width: 100%;
}

body {
  color: #444;
  font-family: sans-serif;
  font-weight: 300;
  max-width: 48rem;
  line-height: 1.1;
}

a, a:visited {
  color: #3498db;
}

a:hover, a:focus, a:active {
  color: #2980b9;
}

strong em, em strong {
  font-weight: 800;
  font-style: italic;
}

strong {
  font-weight: 800;
}

em {
  font-weight: 400;
  font-style: italic;
}

small {
  font-size: .707em;
}

p, ol, ul {
  font-size: 1rem;
  margin-bottom: 0.8rem;
}

h1 { font-size: 1.6rem; }
h2 { font-size: 1.4rem; }
h3 { font-size: 1.3rem; }
h4 { font-size: 1.2rem; }
h5 { font-size: 1.1rem; }
h6 { font-size: 1.0rem; }

h1,h2,h3,h4,h5,h6 {
  font-family: 'Open Sans Condensed', Arimo, Helvetica, sans-serif;
  font-weight: 400;
  margin-top: 0;
}

h1,h2,h3 {
  border-bottom: 2px solid #eee;
  margin-bottom: 8px;
}

img, canvas, iframe, video, svg, select, textarea {
  max-width: 100%;
}

blockquote {
  border-left: 8px solid #eee;
  padding: 1rem;
}

pre,code,textarea {
  background-color: #eee;
  font-family: Menlo, Monaco, "Courier New", monospace;
}

pre {
  padding: .5rem;
  line-height: 1.25;
  overflow-x: scroll;
}

ol, ul {
  padding-left: 24px;
}

li {
  margin: .1rem; padding: 0;
}
li.completed-task {
  color: #aaa;
  text-decoration: line-through;
}
